/* Variables SASS  */
$paddingGeneral: 1rem;
$backGroundNav: #165a5e;
$backGroundhero: #2b2828;
$marginGeneral: 1rem;
$fuenteLetraTitulo: "Rubik Dirt", serif;
$fuenteLetraParrafo: "Madimi One", serif;





/* segundo HTML donde se cargan los actores */
.contenedorDesc{
    padding: $paddingGeneral;

}
.DescTitulo{
    margin: $marginGeneral;
    color: aliceblue;
    font-family: $fuenteLetraTitulo;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.descImg{
    width: 50rem;
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(57, 112, 230, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.peliculaDesc{
    margin: $marginGeneral;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: justify;
    font-family: $fuenteLetraParrafo;
    font-size: 1rem;
}

.contenedor-cast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    div{
    
        margin: $marginGeneral;
        width: 50rem;
    }
    img{
        border-radius: 1rem;
    }
    p{
        margin: #{$marginGeneral+ 0.5rem};
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    
        text-align: justify;
        font-family: $fuenteLetraParrafo;
        font-size: 3rem;
    }
}

/* footer */
.final{
    background-color: #040404;
    div{
        justify-content: space-between;
    }
}
.contenedor-final{
    display: flex;
    flex-direction: row;
}
.miNombre{
    margin:#{$marginGeneral+ 0.5rem};
    color: aliceblue;
    overflow: hidden;
    font-family: $fuenteLetraParrafo;
    font-size: 1.5rem;
}
.materia{
    margin: 1.5rem;
    color: aliceblue;
    overflow: hidden;
    font-family: $fuenteLetraParrafo;
    font-size: 1.5rem;
}


@media screen and (max-width: 600px){
    .hero{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .descripcion-hero{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .main{
        display: none;
    }
}